PORT = 3001
URL = mongodb://127.0.0.1:27017/ecommerceProject
JWT_ACTIVATION_KEY = A9S8A8S8A8S88S8EAA8_@$%^&
JWT_ACCESS_KEY =YOUR_ACCESS_KEY
SMTP_USERNAME = zahidulislamrupom651@gmail.com
SMTP_PASSWORD = oinbkcznziodqdrk 
CLIENT_URL = http://localhost:3000